In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [12]:
################## DATA FRAME ##################
datafile = 'dailyActivity_merged.csv'
fields = ['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance', 
          'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance', 'SedentaryActiveDistance', 
          'VeryActiveMinutes', 'FairlyActiveMinutes', 'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories']

#pd.set_option('display.max_rows', 100)
df = pd.read_csv(datafile, skipinitialspace=True, usecols=fields)
selected_data = df[['Id','FairlyActiveMinutes']]
n_rows, n_cols = df.shape
display(selected_data.head(32))

            Id  FairlyActiveMinutes
0   1503960366                   13
1   1503960366                   19
2   1503960366                   11
3   1503960366                   34
4   1503960366                   10
5   1503960366                   20
6   1503960366                   16
7   1503960366                   31
8   1503960366                   12
9   1503960366                    8
10  1503960366                   27
11  1503960366                   21
12  1503960366                    5
13  1503960366                   14
14  1503960366                   23
15  1503960366                   11
16  1503960366                   28
17  1503960366                   12
18  1503960366                   34
19  1503960366                   35
20  1503960366                   15
21  1503960366                   24
22  1503960366                   22
23  1503960366                   24
24  1503960366                    6
25  1503960366                   46
26  1503960366                    8
27  1503960366                   11
28  1503960366                   31
29  1503960366                   23
30  1503960366                    0
31  1624580081                    0

In [29]:
IDs = selected_data['Id'].unique()
individualAct = dict()
for Id in IDs:
    act = selected_data[selected_data['Id']==Id]
    individualAct[Id] = act['FairlyActiveMinutes'].tolist()

In [30]:
## Get the activity in the data

data_act = list(selected_data['FairlyActiveMinutes'].unique())

In [171]:
def isHit(activity, query, ths):
    
    hits = list()
    for th in ths:
        hit = False
        i = 0
        for j in range(0,len(activity)):
            #print(query[j])
            if (abs(query[i] - activity[j])<=th):
                i = i + 1
            
                if i == len(query):
                    hit = True
                    break
        
        hits.append(hit)
    return hits

In [231]:
def uniqueness(queries, domain, k, l, uniq_score, individuals, ths):
    
    print(queries[0])
    print(len(queries))
    print(len(individuals.keys()))
    
    if l > k:
        return uniq_score
    
         
    present_queries = []
    query_matches = dict()
    
    for query in queries:
        
        match = dict()
        for th in ths:
            match[th] = []
            
        inData = False
        #print(query)
        for Id in individuals:
            ind_act = individuals[Id]
                
            hits = isHit(ind_act, query, ths)
                
            for i in range(0,len(ths)):
                hit = hits[i]
                
                if hit:
                    match[ths[i]].append(Id)
                    inData = True
                    #print(ths[i])
                    #print(Id)
                    #print(match)
                    
                    
        
        if inData:
            present_queries.append(query)
            query_matches[str(query)] = match
            #print(match)
    
    for i in range(0, len(ths)):
    
        uniquesId = []
        th = ths[i]
        #print(th)
        
        for keyquery in query_matches:
            match = query_matches[keyquery]
            
            matchTH = match[th]
            #print(keyquery)
            #print(matchTH)
            if len(list(set(matchTH))) == 1:
                #print("Unique")
                uniquesId.append(matchTH[0]) 
        
        score = (1.0*len(list(set(uniquesId))))/len(individuals.keys())
        uniq_score.append((l,th,score))
                        
    l = l + 1
    newqueries = []
    for query in present_queries:  
    
        for val in domain:
            newquery = query.copy()
            newquery.append(val)
            newqueries.append(newquery)
            
                 
    return uniqueness(newqueries, domain, k, l, uniq_score, individuals, ths)

In [ ]:
#uniqueness up to 3 readings with th=0 and th=2
uniqueScores = list()
start_query = [[a] for a in data_act]
uniqueScores = uniqueness(start_query, data_act, 3, 1, uniqueScores, individualAct, [0, 2])

[13]
81
33
[13, 13]
6561
33
[13, 13, 13]
454248
33

In [233]:
uniqueScores

[(1, 0, 0.21212121212121213),
 (1, 1, 0.15151515151515152),
 (2, 0, 0.8181818181818182),
 (2, 1, 0.5757575757575758)]